@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-stripped">
    <tr>
        <th>#</th>
        <th>Referans Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimionialID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>
                <a href="#" class="btn mb-1 btn-rounded btn-outline-primary">Detay</a>
                <a asp-action="UpdateTestimonial" asp-controller="Testimonial" asp-route-id="@item.TestimionialID" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a>
                <a asp-action="DeleteTestimonial" asp-controller="Testimonial" asp-route-id="@item.TestimionialID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
                @* <a href="/Staff/DeleteStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a> *@
            </td>

        </tr>
    }

</table>
<a asp-action="AddTestimonial" asp-controller="Testimonial" class="btn mb-1 btn-rounded btn-outline-success">Yeni Referans Girişi</a>

